<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="/wish_items/home">Home</a>
    <a href="/wish_items/logout">Logout</a>
    <h2>Create a New Wish List Item</h2>
    <form action="/wish_items/add" method="POST">
        {%csrf_token%} Item/Product: <input type="text" name="item" id=""><br><br>
        <input type="submit" name="Add" id="">
    </form>

</body>

</html>